.subheader {
  justify-content: space-between;
  align-items: center;
  background: #fff;
  display: none;

  @media only screen and (min-width: 768px) {
    height: 83px;
    display: flex;
    padding: 0 calc((100vw - 98%) / 2)
  }

  @media only screen and (min-width: 1366px) {
    padding: 0 calc((100vw - 90%) / 2)
  }

  @media only screen and (min-width: 1920px) {
    padding: 0 calc((100vw - 70%) / 2);
  }
}
