.description {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 190px;
    margin-top: 282px;

    padding: 0 calc((100vw - 56%) / 2);
  }

  @media only screen and (min-width: 1366px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 546px;
  }

  &__header {
    &>p {
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 44px;
    }
  }
  &__content{
    &>p{
      padding: 30px 0;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */
      color: #2B2E34;
    }
  }

  &__subheader {
    font-size: 22px;
    line-height:26px;
  }


}