

.header {
  display: flex;
  min-width: 414px;
  min-height: 71px;
  background-color: #FFFFFF;
  align-items: center;
    &__menu-btn {
    border: 2.2px none #2B2E34;
    margin-left: 21px;
    width: 35px;
    height: 18.31px;
    margin-top: 13px;
    margin-bottom: 12.69px;
  }
  &__logo__img{
    display: flex;
    position: absolute;
    Width: 23.5px;
    Height: 36.87px;
    Top: 3.89px;
    Left: 49px;
    padding-top: 15px;
    margin-left: 20px;
  }

  &__logo__title {
    margin-bottom: 29.32px;
    margin-top: 29.36px;
    margin-left: 43px

  }
}
